<div class="item-list">
  <ul>
    <li>
      <a href="#">Item Title</a>
      <a href="#"><%= lorem.words 5 %></a>
      <a href="#"><%= lorem.sentence %></a>
      <span class="label sm">Small Label</span>
    </li>
    <li>
      <a href="#">Item Title</a>
      <a href="#"><%= lorem.words 5 %></a>
      <a href="#"><%= lorem.sentence %></a>
      <span class="label sm">Small Label</span>
    </li>
    <li>
      <a href="#">Item Title</a>
      <a href="#"><%= lorem.words 5 %></a>
      <a href="#"><%= lorem.sentence %></a>
      <span class="label sm">Small Label</span>
    </li>
    <li>
      <a href="#">Item Title</a>
      <a href="#"><%= lorem.words 5 %></a>
      <a href="#"><%= lorem.sentence %></a>
      <span class="label sm">Small Label</span>
    </li>
  </ul>
</div>